# PROYECTO FINAL

In [1]:
%load_ext autotime

time: 0 ns (started: 2024-05-06 10:54:37 -03:00)

## SETUP

Instalación e importación librerias

In [2]:
import pandas as pd
import os

time: 672 ms (started: 2024-05-06 10:54:37 -03:00)

In [3]:
separador = "=" * 60

time: 0 ns (started: 2024-05-06 10:54:38 -03:00)

## Cargar los archivos CSV en DataFrames de Pandas

El primer paso es cargar los csv que contienen la información de cada una de las tablas que vamos a utilizar

In [4]:
# Ubicación de los archivos
loc_orders="https://raw.githubusercontent.com/gustavodluna/Proyecto_Final_Alkemy/master/dataset_generados/df_orders.csv"
loc_orders_items="https://raw.githubusercontent.com/gustavodluna/Proyecto_Final_Alkemy/master/dataset_generados/df_orders_items.csv"
loc_products="https://raw.githubusercontent.com/gustavodluna/Proyecto_Final_Alkemy/master/dataset_generados/df_products.csv"
loc_customers="https://raw.githubusercontent.com/gustavodluna/Proyecto_Final_Alkemy/master/dataset_generados/df_customers.csv"
loc_payments="https://raw.githubusercontent.com/gustavodluna/Proyecto_Final_Alkemy/master/dataset_generados/df_payments.csv"
loc_resultante="https://raw.githubusercontent.com/gustavodluna/Proyecto_Final_Alkemy/master/dataset_generados/df_resultante.csv"

time: 0 ns (started: 2024-05-06 10:54:38 -03:00)

### Orders

In [5]:
#Importar dataset como Dataframe y previsualizamos
df_orders = pd.read_csv(loc_orders, index_col=0)
df_orders

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26
...,...,...,...,...,...,...,...,...
99436,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,2017-03-09 09:54:05,2017-03-10 11:18:03,2017-03-17 15:08:01,2017-03-28
99437,63943bddc261676b46f01ca7ac2f7bd8,1fca14ff2861355f6e5f14306ff977a7,delivered,2018-02-06 12:58:58,2018-02-06 13:10:37,2018-02-07 23:22:42,2018-02-28 17:37:56,2018-03-02
99438,83c1379a015df1e13d02aae0204711ab,1aa71eb042121263aafbe80c1b562c9c,delivered,2017-08-27 14:46:43,2017-08-27 15:04:16,2017-08-28 20:52:26,2017-09-21 11:24:17,2017-09-27
99439,11c177c8e97725db2631073c19f07b62,b331b74b18dc79bcdf6532d51e1637c1,delivered,2018-01-08 21:28:27,2018-01-08 21:36:21,2018-01-12 15:35:03,2018-01-25 23:32:54,2018-02-15
99440,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,2018-03-09 11:20:28,2018-03-09 22:11:59,2018-03-16 13:08:30,2018-04-03

time: 9.34 s (started: 2024-05-06 10:54:38 -03:00)

### Order items

In [6]:
#Importar dataset como Dataframe y previsualizamos
df_order_items = pd.read_csv(loc_orders_items, index_col=0)
df_order_items

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
...,...,...,...,...,...,...,...
112645,fffc94f6ce00a00581880bf54a75a037,1,4aa6014eceb682077f9dc4bffebc05b0,b8bc237ba3788b23da09c0f1f3a3288c,2018-05-02 04:11:01,299.99,43.41
112646,fffcd46ef2263f404302a634eb57f7eb,1,32e07fd915822b0765e448c4dd74c828,f3c38ab652836d21de61fb8314b69182,2018-07-20 04:31:48,350.00,36.53
112647,fffce4705a9662cd70adb13d4a31832d,1,72a30483855e2eafc67aee5dc2560482,c3cfdc648177fdbbbb35635a37472c53,2017-10-30 17:14:25,99.90,16.95
112648,fffe18544ffabc95dfada21779c9644f,1,9c422a519119dcad7575db5af1ba540e,2b3e4a2a3ea8e01938cabda2a3e5cc79,2017-08-21 00:04:32,55.99,8.72
112649,fffe41c64501cc87c801fd61db3f6244,1,350688d9dc1e75ff97be326363655e01,f7ccf836d21b2fb1de37564105216cc1,2018-06-12 17:10:13,43.00,12.79

time: 8.66 s (started: 2024-05-06 10:54:47 -03:00)

### Products

In [7]:
#Importar dataset como Dataframe y previsualizamos
df_products = pd.read_csv(loc_products, index_col=0)
df_products

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0
...,...,...,...,...,...,...,...,...,...
32946,a0b7d5a992ccda646f2d34e418fff5a0,moveis_decoracao,45.0,67.0,2.0,12300.0,40.0,40.0,40.0
32947,bf4538d88321d0fd4412a93c974510e6,construcao_ferramentas_iluminacao,41.0,971.0,1.0,1700.0,16.0,19.0,16.0
32948,9a7c6041fa9592d9d9ef6cfe62a71f8c,cama_mesa_banho,50.0,799.0,1.0,1400.0,27.0,7.0,27.0
32949,83808703fc0706a22e264b9d75f04a2e,informatica_acessorios,60.0,156.0,2.0,700.0,31.0,13.0,20.0
32950,106392145fca363410d287a815be6de4,cama_mesa_banho,58.0,309.0,1.0,2083.0,12.0,2.0,7.0

time: 1.89 s (started: 2024-05-06 10:54:56 -03:00)

### Customers

In [8]:
#Importar dataset como Dataframe y previsualizamos
df_customers =pd.read_csv(loc_customers, index_col=0)
df_customers

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP
...,...,...,...,...,...
99436,17ddf5dd5d51696bb3d7c6291687be6f,1a29b476fee25c95fbafc67c5ac95cf8,3937,sao paulo,SP
99437,e7b71a9017aa05c9a7fd292d714858e8,d52a67c98be1cf6a5c84435bd38d095d,6764,taboao da serra,SP
99438,5e28dfe12db7fb50a4b2f691faecea5e,e9f50caf99f032f0bf3c55141f019d99,60115,fortaleza,CE
99439,56b18e2166679b8a959d72dd06da27f9,73c2643a0a458b49f58cea58833b192e,92120,canoas,RS
99440,274fa6071e5e17fe303b9748641082c8,84732c5050c01db9b23e19ba39899398,6703,cotia,SP

time: 4.11 s (started: 2024-05-06 10:54:57 -03:00)

### Payments

In [9]:
#Importar dataset como Dataframe y previsualizamos
df_payments = pd.read_csv(loc_payments, index_col=0)
df_payments

,order_id,payment_sequential,payment_type,payment_installments,payment_value
0,b81ef226f3fe1789b1e8b2acac839d17,1,credit_card,8,99.33
1,a9810da82917af2d9aefd1278f1dcfa0,1,credit_card,1,24.39
2,25e8ea4e93396b6fa0d3dd708e76c1bd,1,credit_card,1,65.71
3,ba78997921bbcdc1373bb41e913ab953,1,credit_card,8,107.78
4,42fdf880ba16b47b59251dd489d4441a,1,credit_card,2,128.45
...,...,...,...,...,...
103881,0406037ad97740d563a178ecc7a2075c,1,boleto,1,363.31
103882,7b905861d7c825891d6347454ea7863f,1,credit_card,2,96.80
103883,32609bbb3dd69b3c066a6860554a77bf,1,credit_card,1,47.77
103884,b8b61059626efa996a60be9bb9320e10,1,credit_card,5,369.54
103885,28bbae6599b09d39ca406b747b6632b1,1,boleto,1,191.58

time: 2.83 s (started: 2024-05-06 10:55:02 -03:00)

### df_resultante

In [10]:
#Importar dataset como Dataframe y previsualizamos
df_resultante = pd.read_csv(loc_resultante, index_col=0)
df_order_items_products

,order_id,customer_id,order_status,order_purchase_timestamp,payment_type,payment_value,product_id,price,freight_value,customer_city,...,order_purchase_hour,order_purchase_time_day,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,credit_card,18.12,87285b34884572647811a353c7ac498a,29.99,8.72,sao paulo,...,10,Mañana,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,voucher,2.00,87285b34884572647811a353c7ac498a,29.99,8.72,sao paulo,...,10,Mañana,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,voucher,18.59,87285b34884572647811a353c7ac498a,29.99,8.72,sao paulo,...,10,Mañana,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,credit_card,37.77,87285b34884572647811a353c7ac498a,29.99,7.78,sao paulo,...,18,Tarde,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,credit_card,37.77,87285b34884572647811a353c7ac498a,29.99,7.78,sao paulo,...,18,Tarde,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113385,e8fd20068b9f7e6ec07068bb7537f781,609b9fb8cad4fe0c7b376f77c8ab76ad,delivered,2017-08-10 21:21:07,credit_card,748.24,0df37da38a30a713453b03053d60d3f7,356.00,18.12,sao paulo,...,21,Noche,esporte_lazer,53.0,1105.0,1.0,2800.0,28.0,23.0,23.0
113386,e8fd20068b9f7e6ec07068bb7537f781,609b9fb8cad4fe0c7b376f77c8ab76ad,delivered,2017-08-10 21:21:07,credit_card,748.24,0df37da38a30a713453b03053d60d3f7,356.00,18.12,sao paulo,...,21,Noche,esporte_lazer,53.0,1105.0,1.0,2800.0,28.0,23.0,23.0
113387,cfa78b997e329a5295b4ee6972c02979,a2f7428f0cafbc8e59f20e1444b67315,delivered,2017-12-20 09:52:41,credit_card,71.04,3d2c44374ee42b3003a470f3e937a2ea,55.90,15.14,campo do tenente,...,9,Mañana,instrumentos_musicais,34.0,372.0,2.0,300.0,16.0,6.0,12.0
113388,9c5dedf39a927c1b2549525ed64a053c,39bd1228ee8140590ac3aca26f2dfe00,delivered,2017-03-09 09:54:05,credit_card,85.08,ac35486adb7b02598c182c2ff2e05254,72.00,13.08,sao jose dos campos,...,9,Mañana,beleza_saude,50.0,1517.0,1.0,1175.0,22.0,13.0,18.0
113389,66dea50a8b16d9b4dee7af250b4be1a5,edb027a75a1449115f6b43211ae02a24,delivered,2018-03-08 20:57:30,debit_card,86.86,006619bbed68b000c8ba3f8725d5409e,68.50,18.36,lapa,...,20,Noche,beleza_saude,45.0,569.0,1.0,150.0,16.0,7.0,15.0

time: 10.9 s (started: 2024-05-06 10:55:04 -03:00)

## Establecer la columna índices de las tablas como la clave primaria en el DataFrame, ejemplo para customers la clave será customer_id.

In [11]:
df_orders.set_index("order_id",inplace=True)
df_orders.head()

,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
order_id,,,,,,,
e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18
53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13
47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04
949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15
ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26

time: 16 ms (started: 2024-05-06 10:55:15 -03:00)

In [12]:
df_order_items.set_index("order_item_id",inplace=True)
df_order_items.head()

,order_id,product_id,seller_id,shipping_limit_date,price,freight_value
order_item_id,,,,,,
1,00010242fe8c5a6d1ba2dd792cb16214,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
1,000229ec398224ef6ca0657da4fc703e,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
1,00024acbcdf0a6daa1e931b038114c75,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
1,00042b26cf59d7ce69dfabb4e55b4fd9,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

time: 0 ns (started: 2024-05-06 10:55:15 -03:00)

In [13]:
df_products.set_index("product_id",inplace=True)
df_products.head()

,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
product_id,,,,,,,,
1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

time: 0 ns (started: 2024-05-06 10:55:15 -03:00)

In [14]:
df_customers.set_index("customer_id",inplace=True)
df_customers.head()

,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
customer_id,,,,
06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

time: 0 ns (started: 2024-05-06 10:55:15 -03:00)

## Obtener el número total de clientes únicos en el conjunto de datos.

In [15]:
df_resultante.head()

,order_id,customer_id,order_status,order_purchase_timestamp,payment_type,payment_value,product_id,price,freight_value,customer_city,...,order_purchase_hour,order_purchase_time_day,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,credit_card,18.12,87285b34884572647811a353c7ac498a,29.99,8.72,sao paulo,...,10,Mañana,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,voucher,2.00,87285b34884572647811a353c7ac498a,29.99,8.72,sao paulo,...,10,Mañana,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,voucher,18.59,87285b34884572647811a353c7ac498a,29.99,8.72,sao paulo,...,10,Mañana,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
3,128e10d95713541c87cd1a2e48201934,a20e8105f23924cd00833fd87daa0831,delivered,2017-08-15 18:29:31,credit_card,37.77,87285b34884572647811a353c7ac498a,29.99,7.78,sao paulo,...,18,Tarde,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0
4,0e7e841ddf8f8f2de2bad69267ecfbcf,26c7ac168e1433912a51b924fbd34d34,delivered,2017-08-02 18:24:47,credit_card,37.77,87285b34884572647811a353c7ac498a,29.99,7.78,sao paulo,...,18,Tarde,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0

time: 32 ms (started: 2024-05-06 10:55:15 -03:00)

In [16]:
num_clientes=df_resultante.customer_id.nunique()
print(separador)
print(f"El número total de clientes únicos es: {num_clientes}")
print(separador)

============================================================
El número total de clientes únicos es: 95128
============================================================
time: 31 ms (started: 2024-05-06 10:55:15 -03:00)

## Calcular el promedio de valor de pago por pedido.

In [17]:
promedio_pedido=round(df_resultante.payment_value.mean(),2)
print(separador)
print(f"El promedio de valor de pago por pedido es: R$ {promedio_pedido}")
print(separador)

============================================================
El promedio de valor de pago por pedido es: R$ 172.24
============================================================
time: 0 ns (started: 2024-05-06 10:55:15 -03:00)

## Determinar la categoría de producto más vendida.

In [18]:
# Con esta funcion podemos crear una tabla que nos muestre la cantidad de valores y su porcentaje
def tipos_porcentaje(df):
    # Calcular la cantidad de valores por columna
    valores =df.value_counts()
    
    total_valores=len(df)
    
    # Calcular el porcentaje de valores por columna
    porcentaje_valores = round(valores / total_valores * 100, 2)
    
    # Crear un DataFrame para almacenar los resultados
    tabla_valores = pd.DataFrame({'Cantidad': valores, 'Porcentaje': porcentaje_valores})
    
    #print(tabla_valores)
    
    return tabla_valores

time: 15 ms (started: 2024-05-06 10:55:15 -03:00)

In [19]:
categorias=tipos_porcentaje(df_resultante.product_category_name)
categorias.reset_index(inplace=True)
categorias

                            product_category_name  Cantidad  Porcentaje
0                                 cama_mesa_banho     11649       10.27
1                                    beleza_saude      9761        8.61
2                                   esporte_lazer      8731        7.70
3                                moveis_decoracao      8553        7.54
4                          informatica_acessorios      7897        6.96
..                                            ...       ...         ...
68  portateis_cozinha_e_preparadores_de_alimentos        14        0.01
69                              cds_dvds_musicais        14        0.01
70                                       pc_gamer         9        0.01
71                  fashion_roupa_infanto_juvenil         7        0.01
72                             seguros_e_servicos         2        0.00

[73 rows x 3 columns]

time: 16 ms (started: 2024-05-06 10:55:15 -03:00)

In [20]:
categoria_mas_vendida=categorias.product_category_name.loc[0]
cantidad_categoria_mas_vendida=categorias.Cantidad.loc[0]
print(separador)
print(f"La categoría de producto mas vendida con un total de {cantidad_categoria_mas_vendida} unidades fue: '{categoria_mas_vendida}'")
print(separador)

============================================================
La categoría de producto mas vendida con un total de 11649 unidades fue: 'cama_mesa_banho'
============================================================
time: 0 ns (started: 2024-05-06 10:55:15 -03:00)

## Calcular el número total de pedidos realizados.

In [21]:
total_pedidos=len(df_resultante.order_id)
total_pedidos
print(separador)
print(f"El número total de pedidos realizados es: {total_pedidos}.")
print(separador)

============================================================
El número total de pedidos realizados es: 113390.
============================================================
time: 0 ns (started: 2024-05-06 10:55:15 -03:00)